<div class="row">
<div class="col-md-10 col-md-offset-1">
	<h3 class="center shadow">here is your personalized love note:</h3>  
 	<h1 class="center shadow note"><div id="the-note">"<%= h(@note.content) %>"</div></h1>
 	<h3 class="center shadow to-do">all that's left to do is send it...</h3>
</div>
</div>

<div class="row send-it" style="margin-top: 1em;">
	<div class="col-md-6 col-md-offset-3 send">
		<div class="row">
			<div class="col-md-6"><%= link_to image_tag( "tweet.gif", class: "icon" ), new_tweet_path(:note => @note.id) %></div>
			<div class="col-md-6"><%= link_to image_tag( "email.gif", class: "icon" ), new_email_path(:note => @note.id) %></div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-6 col-md-offset-3 center">
		<%= link_to root_url do %>
		<h2 class="redo btn btn-default btn-lg">
	  			<span class="glyphicon glyphicon-repeat"></span> Don't like your message? How's about a do-over?
			</h2>
		<% end %>
	</div>
</div>

<style>
#the-note span{
  display:inline-block;
  position:relative;
  top:20px;
  visibility:hidden;
  -webkit-font-smoothing:antialiased;
}

.to-do, .redo {
	visibility: hidden;
}
</style>

<script>

var textDiv = $("#the-note"),
    sentence = textDiv.html().split(""),
    tl = new TimelineMax(),
    send = $(".to-do"),
    sendIt = $(".send-it"),
    heart = $(".heart"),
    redo = $(".redo"),
    speed = 0.2; //seconds; 

CSSPlugin.defaultTransformPerspective = 600;    
TweenLite.set(textDiv, {css:{perspective:500, perspectiveOrigin:"50% 50%", transformStyle:"preserve-3d"}});

textDiv.html("");

$.each(sentence, function(index, val) {
	if(val === " ") {
		val = "&nbsp;";			}
	var letter = $("<span/>", {id : "txt" + index}).html(val).appendTo(textDiv);
	tl.to(letter, 1, {autoAlpha:1, ease:Back.easeOut,  rotationX:360, transformOrigin:"50% 50% -20"}, index * 0.1);			
});

tl.to(send, 1, {autoAlpha:1, ease:Back.easeOut}, "+=0.5");
tl.staggerFrom(sendIt, 2.5, { rotationX:-90, transformOrigin:"50% 0%", ease:Elastic.easeOut}, 0.4);
tl.to(redo, 1, {autoAlpha:1, ease:Back.easeOut}, "+=0.2");

</script>

<script>
	$('.redo').click(function() {
		var sendIt = $(".send-it"),
			note = $("#the-note"),
			send = $(".to-do"),
			redo = $(".redo"),
		    ctl = new TimelineMax();

		ctl.to(note, 2, {css:{z:200, rotationX:getRandom(-360, 600), rotationY:getRandom(-360, -600), autoAlpha:0}}, "explode");
		ctl.to(send, 2, {css:{z:200, rotationX:getRandom(-360, 600), rotationY:getRandom(-360, -600), autoAlpha:0}}, "explode");
		ctl.to(redo, 2, {css:{z:200, rotationX:getRandom(-360, 600), rotationY:getRandom(-360, -600), autoAlpha:0}}, "explode");
  		ctl.to(sendIt, 2, {css:{z:200, rotationX:getRandom(-360, 600), rotationY:getRandom(-360, -600), autoAlpha:0}, onComplete:backToHome}, "explode");	
	});

	function backToHome() {
		//window.location.replace("<%= root_url %>");
	}

	function getRandom(max, min){
		return Math.floor(Math.random() * (1 + max - min) + min);
	}	

</script>
