<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <style type="text/css">
   @media only screen and (max-width: 640px)  {
      body .outer {width:480px!important; padding:0 4px;} 
      body .inner {width:460px!important; padding:0 4px;} 
    body .column {width:440px!important; height: 0px !important; padding:0 4px;}  
      body .center {text-align: center!important;}
    body .shadow {width: 460px!important;}      
    }
 
   @media only screen and (max-width: 479px) {
      body .outer {width:280px!important; padding:0 4px;} 
      body .inner {width:260px!important; padding:0 4px;} 
      body .shadow {width: 260px!important;}
    body .column {width:240px!important; height: 0px !important; padding:0 4px;}  
      body .center {text-align: center!important;}  
span.yshortcuts:hover { color: #000 !important; background-color: none !important; border: none !important; }
span.yshortcuts:active { color: #000 !important; background-color: none !important; border: none !important; }
span.yshortcuts:focus { color: #000 !important; background-color: none !important; border: none !important; }
a:visited { color: #a4e7df !important; text-decoration: none !important; }
a:focus { color: #a4e7df !important; text-decoration: underline !important; }
a:hover { color: #a4e7df !important; text-decoration: underline !important; }
</style>
  </head>
  <body style="min-height: 1000px; color: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 12px; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; background-color: #c72b50; margin: 0; padding: 0;" alink="#FF0000" link="#FF0000" bgcolor="#c72b50" text="#FFFFFF" yahoo="fix">
<div id="body_style" style="min-height: 1000px; color: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: #c72b50; padding: 15px;">
  <table cellpadding="10" cellspacing="0" border="0" bgcolor="#FDF8F2" width="600" align="center" class="outer" style="-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; border: 1px solid #aaaaaa;"><tr><td style="border-collapse: collapse;">
        <table cellspacing="0" cellpadding="0" width="580" align="center" class="inner" style="-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; border: 2px double #7e131e;"><tr><td style="border-collapse: collapse;">
        
        <table cellspacing="0" cellpadding="0" class="column" align="left" width="48%" style="height: 300px;"><tr><td valign="middle" align="center" class="column" style="border-collapse: collapse;">
                  <%= image_tag "8bit-heart.png", class: "image-column", style: "padding: 10px 0;", width: "60%" %>  
                </td>
            </tr></table><table cellspacing="0" cellpadding="0" class="column" align="left" width="48%"><tr><td valign="middle" align="center" height="300" class="column" style="border-collapse: collapse;">
                  <p style="font-family: Georgia, 'Times New Roman', Times, serif; color: #7e131e; font-size: 2em; text-align: left; margin: 1em 0; padding: 0;" align="left">Dear <%= @email.to %>,</p>
                    <p style="font-family: Georgia, 'Times New Roman', Times, serif; color: #7e131e; font-size: 2em; text-align: left; margin: 1em 0; padding: 0;" align="left">
                    <%= @email.note.content %></p>
                    <p style="text-align: right; font-family: Georgia, 'Times New Roman', Times, serif; color: #7e131e; font-size: 2em; margin: 1em 0; padding: 0;" align="right">With love, <%= @email.from %></p>
                </td>
            </tr></table><table cellspacing="0" cellpadding="0" class="column" align="left" width="90%"><tr><td style="border-collapse: collapse;">
                  <p class="small" style="font-family: Georgia, 'Times New Roman', Times, serif; color: #7e131e; font-size: 1em; text-align: center; margin: 1em 0; padding: 0;" align="center">Send your own love notes at <a href="http://www.somelovenotes.com" target="_blank" style="color: #7e131e; font-weight: bold; text-decoration: underline;">somelovenotes.com</a></p> 
                </td>
            </tr></table></td>
        </tr></table></td>
    </tr></table><table cellpadding="0" cellspacing="0" border="0" width="600" align="center" class="column"><tr><td align="center" style="border-collapse: collapse;">
        <%= image_tag "shadow.png", class: "shadow", width: "580" %>  
      </td>
    </tr></table></div>
</body>
</html>


